*{
    margin: 0;
    padding: 0;
}
body{
    padding: 30px;
    background-image: url(https://img.le-dictionnaire.com/paysage-campagne.jpg);
   
    background-size: cover;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    text-transform: none;
    position: relative;
    left: 30px;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: 1s;
    margin: 10px;
    background-color: gold;
border-radius: 10px;
}
a:hover{
    background-color: white;
    color: black;
   transition: none;
}
.image{
    border-radius: 10px;
    width: 70px;
    position: relative;
    bottom: 20px;
    border-left: black solid;
    border-right: gold solid;
   transition: 2s;

}
.compte{
    position: relative;
bottom: -300px;
right: 50px;
background-color: transparent;
border-left: black solid;
border-right: gold solid;

}
.connecter{
    position: relative;
bottom: -300px;
right: 50px;
background-color: transparent;
border-left: black solid;
border-right: gold solid;

}

.tout{
    max-width: 1140rem;
    margin: 2 auto;
}
h1{
    color: white;
    font-size: 70px;
    position: relative;
    bottom: -290px;
    left: 450px;
    font-family: 'Times New Roman', Times, serif;
}
form{
    justify-content: center;
position: relative;
left: 670px;
bottom: -100px;

    border-radius: 10px;
    border: black solid;
    background-color: gold;
    width: 600px;
    padding: 10px;
    
   
}
input{
    background-color: white;
    border-radius: 10px;
    height: 20px;
    padding:4px;
}
.prenom{
    position: relative;
    left: 10px;
}
.email{
    position: relative;
    left: 20px;
}
.Code{
cursor: pointer;

border-radius: 5px;
color: rgb(0, 0, 0);
border: currentColor;

height: 40px;
padding: 10px;
}
.Numero{
  
cursor: pointer;
color: rgb(0, 0, 0);

border: currentColor;
border-radius: 5px;
padding: 10px;
height: 20px;



}
textarea{
width: 300px;
border-radius: 10px;
height: 100px;
border: none;
padding: 10px;

}
button{
background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    
    

}
button:hover{
background-color: rgb(155, 137, 35);
}
